CompileFlags:
  # 使用你的 MinGW 编译器
  Compiler: D:/App/msys2/mingw64/bin/g++.exe

  Add: [
    # 目标平台（必须）
    "--target=x86_64-w64-windows-gnu",

    # 指定工具链（必须）
    "--gcc-toolchain=D:/App/msys2/mingw64",

    # 标准
    "-std=c++17",

    # ImGui
    "-Iimgui",
    "-Iimgui/backends",

    # MSYS2 MinGW 头文件（关键！）
    "-ID:/App/msys2/mingw64/include",

    # 如果你用 SDL（按需）
    "-ID:/App/msys2/mingw64/include/SDL2"
  ]

# 指向 build 目录
CompilationDatabase: build